.nav-link {
  font-size: large;
  background-color: rgb(223, 213, 213);
  color: rgb(0, 0, 0);
  
}

.navbar-brand{
  font-size: large;
  background-color: rgb(223, 213, 213);
  color: rgb(0, 0, 0);
}
